<div class="header">
  <app-header></app-header>
</div>
<div class="main-container">
  <div class="side-nav">
    <app-side-nav></app-side-nav>
  </div>
  <div
    class="main"
  
  >
    <router-outlet></router-outlet>
  </div>

  <!-- <div class="container-fluid p-0 vh-100 d-flex flex-column">

  <div class="d-flex justify-content-end align-items-center bg-light p-2 border-bottom">
    <button (click)="logout()" class="btn btn-outline-danger btn-sm">Logout</button>
  </div>

  
  <div class="d-flex flex-grow-1">
  
    <nav class="bg-dark text-white p-3" style="width: 220px;">
      
      <ul class="nav flex-column">
        <li class="nav-item">
          <a routerLink="/todo" routerLinkActive="active" class="nav-link text-white">Todos</a>
        </li>
        <li class="nav-item">
          <a routerLink="/dashboard" routerLinkActive="active" class="nav-link text-white">Dashboard</a>
        </li>
        <li class="nav-item">
          <a routerLink="/profile" routerLinkActive="active" class="nav-link text-white">Profile</a>
        </li>
        <li class="nav-item">
          <a routerLink="/settings" routerLinkActive="active" class="nav-link text-white">Settings</a>
        </li>
        <li class="nav-item">
          <a routerLink="/reports" routerLinkActive="active" class="nav-link text-white">Reports</a>
        </li>
      </ul>
    </nav>

 
    <main class="flex-grow-1 p-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div> -->
</div>
