<div class="container mt-4">
  <h2>
    <fa-icon [icon]="isEditMode ? 'pencil' : 'plus'"></fa-icon>
    {{ isEditMode ? "Edit" : "Add" }} Admission Application
  </h2>

 
      <form [formGroup]="admissionForm">
        <app-stepper [linearModeSelected]="false" #appStepper>
          <cdk-step [label]="'Basic Details'">
            <app-basic-details-form
              [basicDetailsForm]="basicDetailsFormGroup"/>
          </cdk-step>
          <cdk-step [label]="'Contacts'">
            <app-contacts-form
              [contactsForm]="contactsFormGroup"/>
          </cdk-step>
          <cdk-step [label]="'Documents'">
            <app-documents-form
              [documentsForm]="documentsFormGroup"/>
          </cdk-step>
        </app-stepper>
      </form>
    </div>

