<div class="mt-4">
  <h2>
    <fa-icon [icon]="isEditMode ? 'pencil' : 'plus'"></fa-icon>
    {{ isEditMode ? "Edit" : "Add" }} Admission Application
  </h2>

  <form [formGroup]="admissionForm">
    <app-stepper [linearModeSelected]="false" #appStepper>
      <!-- <cdk-step [label]="'Personal Details'">
        <app-basic-details-form [basicDetailsForm]="basicDetailsFormGroup" />
      </cdk-step> -->
      <cdk-step  [label]="'Personal Details'">
        <ng-template cdkStepLabel>
          Personal Details
          <fa-icon *ngIf="basicDetailsFormGroup.invalid && basicDetailsFormGroup.touched"
                   [icon]="'exclamation-circle'" class="text-danger ms-2"></fa-icon>
        </ng-template>
        <app-basic-details-form [basicDetailsForm]="basicDetailsFormGroup"></app-basic-details-form>
      </cdk-step>
      <cdk-step [label]="'Contacts'">
        <app-contacts-form [contactsForm]="contactsFormGroup" />
      </cdk-step>
      <cdk-step [label]="'Academic Details'" style="width: 200px;">
        <app-contacts-form [contactsForm]="contactsFormGroup" />
      </cdk-step>
      <cdk-step [label]="'Parent/Guardian'">
        <app-contacts-form [contactsForm]="contactsFormGroup" />
      </cdk-step>
      <cdk-step [label]="'Emergecy Contacts'">
        <app-contacts-form [contactsForm]="contactsFormGroup" />
      </cdk-step>
      <cdk-step [label]="'Documents'">
        <app-documents-form [documentsForm]="documentsFormGroup" />
      </cdk-step>
      <cdk-step [label]="'Additional Information'" >
        <app-documents-form [documentsForm]="documentsFormGroup" />
      </cdk-step>
      <cdk-step [label]="'Declarations'">
        <app-documents-form [documentsForm]="documentsFormGroup" />
      </cdk-step>
     
    </app-stepper>
  </form>
</div>
