
<form [formGroup]="profilePictureForm">
  <div class="form-group">
    <label for="profilePicture"
      >Upload Profile Picture:<span class="text-danger">*</span></label
    >
    <input
      type="file"
      id="profilePicture"
      [formControl]="profilePictureFileControl"
      class="form-control"
      (change)="onFileSelected($event)"
      accept="image/*"
      [class.is-invalid]="
        profilePictureFileControl.invalid &&
        (profilePictureFileControl.dirty || profilePictureFileControl.touched)
      "
    />

    <!-- <div *ngIf="profilePictureFileControl?.invalid && (profilePictureFileControl?.dirty || profilePictureFileControl?.touched)" class="invalid-feedback">
      <div *ngIf="profilePictureFileControl?.errors?.['required']">
        <fa-icon [icon]="'exclamation-circle'" class="invalid-feedback-icon"></fa-icon>
        Profile picture is required.
      </div>
    </div> -->

    <div *ngIf="profilePicture() && profilePicture()[0].urlDisplay !== null">
      <img
        [src]="profilePicture()[0].urlDisplay"
        alt="Preview"
        class="img-thumbnail profile-preview"
      />
    </div>
  </div>
</form>
