
:root {
    --vz-card-logo-dark: block;
    --vz-card-logo-light: none;
    --vz-vertical-menu-width: 250px;
    --vz-vertical-menu-width-md: 180px;
    --vz-vertical-menu-width-sm: 70px;
    --vz-header-bg: #fff;
    --vz-header-border: #e9ebec;
    --vz-header-item-color: #495057;
    --vz-header-item-bg: rgba(75, 56, 179, 0.12);
    --vz-header-item-sub-color: #878a99;
    --vz-topbar-search-bg: #f3f3f9;
    --vz-topbar-search-color: #495057;
    --vz-topbar-user-bg: #f3f3f9;
    --vz-page-title-box-shadow: 0 3px 3px rgba(56, 65, 74, 0.1);
    --vz-page-title-border: none;
    --vz-topnav-bg: #fff;
    --vz-topnav-item-color: #6d7080;
    --vz-topnav-item-active-color: #4b38b3;
    --vz-twocolumn-menu-iconview-bg: #fff;
    --vz-twocolumn-menu-box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
    --vz-boxed-layout-width: 1300px;
    --vz-boxed-body-bg: #e5e5ef;
    --vz-semibox-width: 110px;
    --vz-footer-bg: #fff;
    --vz-footer-color: #98a6ad;
    --vz-input-bg-custom: #fff;
    --vz-input-border-custom: #ced4da
}

:root[data-topbar=dark] {
    --vz-header-bg: #1C1C36;
    --vz-header-item-color: rgba(255, 255, 255, 0.85);
    --vz-header-item-bg: #29294e;
    --vz-header-item-sub-color: #a3a6b7;
    --vz-topbar-user-bg: #2A2A50;
    --vz-topbar-search-bg: rgba(255, 255, 255, 0.05);
    --vz-topbar-search-color: #fff;
    --vz-header-border: #1C1C36
}

:root {
    --vz-vertical-menu-bg: #003a66;
    --vz-vertical-menu-border: #fff;
    --vz-vertical-menu-item-color: #edeef3;
    --vz-vertical-menu-item-bg: rgba(75, 56, 179, 0.15);
    --vz-vertical-menu-item-hover-color: #4ec6fd;
    --vz-vertical-menu-item-active-color: #4ec6fd;
    --vz-vertical-menu-item-active-bg: rgba(75, 56, 179, 0.15);
    --vz-vertical-menu-sub-item-color: #edeef3;
    --vz-vertical-menu-sub-item-hover-color: #4ec6fd;
    --vz-vertical-menu-sub-item-active-color: #4ec6fd;
    --vz-vertical-menu-title-color: #919da9;
    --vz-vertical-menu-box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
    --vz-vertical-menu-dropdown-box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12)
}

:root[data-sidebar=dark] {
    --vz-vertical-menu-bg: #003a66;
    --vz-vertical-menu-border: #003b68;
    --vz-vertical-menu-item-color: #fdfdff;
    --vz-vertical-menu-item-bg: rgba(255, 255, 255, 0.15);
    --vz-vertical-menu-item-hover-color: #fff;
    --vz-vertical-menu-item-active-color: #fff;
    --vz-vertical-menu-item-active-bg: rgba(255, 255, 255, 0.15);
    --vz-vertical-menu-sub-item-color: #a3a6b7;
    --vz-vertical-menu-sub-item-hover-color: #fff;
    --vz-vertical-menu-sub-item-active-color: #fff;
    --vz-vertical-menu-title-color: #9b9eb1;
    --vz-twocolumn-menu-iconview-bg: #121222;
    --vz-vertical-menu-box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
    --vz-vertical-menu-dropdown-box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12)
}

:root:is([data-sidebar=gradient],[data-sidebar=gradient-2],[data-sidebar=gradient-3],[data-sidebar=gradient-4]) {
    --vz-vertical-menu-item-color: rgba(255, 255, 255, 0.5);
    --vz-vertical-menu-item-bg: rgba(255, 255, 255, 0.15);
    --vz-vertical-menu-item-hover-color: #fff;
    --vz-vertical-menu-item-active-color: #fff;
    --vz-vertical-menu-item-active-bg: rgba(255, 255, 255, 0.15);
    --vz-vertical-menu-sub-item-color: rgba(255, 255, 255, 0.5);
    --vz-vertical-menu-sub-item-hover-color: #fff;
    --vz-vertical-menu-sub-item-active-color: #fff;
    --vz-vertical-menu-title-color: rgba(255, 255, 255, 0.5);
    --vz-vertical-menu-box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
    --vz-vertical-menu-dropdown-box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12)
}

:root[data-sidebar=gradient] {
    --vz-vertical-menu-bg: linear-gradient(to right, var(--vz-primary), var(--vz-success));
    --vz-vertical-menu-border: var(--vz-success);
    --vz-twocolumn-menu-iconview-bg: var(--vz-primary)
}

:root[data-sidebar=gradient-2] {
    --vz-vertical-menu-bg: linear-gradient(to right, var(--vz-info), var(--vz-secondary));
    --vz-vertical-menu-border: var(--vz-secondary);
    --vz-twocolumn-menu-iconview-bg: var(--vz-info)
}

:root[data-sidebar=gradient-3] {
    --vz-vertical-menu-bg: linear-gradient(to right, var(--vz-info), var(--vz-success));
    --vz-vertical-menu-border: var(--vz-success);
    --vz-twocolumn-menu-iconview-bg: var(--vz-info)
}

:root[data-sidebar=gradient-4] {
    --vz-vertical-menu-bg: linear-gradient(to right, #1a1d21, var(--vz-primary));
    --vz-vertical-menu-border: var(--vz-primary);
    --vz-twocolumn-menu-iconview-bg: #1a1d21
}