<div class="wizard-container">
  <!-- Step Indicators -->
  <ul class="wizard-steps">
    <li
      (click)="goToStep(i)"
      *ngFor="let step of steps; let i = index"
      [class.active]="i === currentStepIndex"
      style="width: 220px; cursor: pointer"
    >
      <span class="step-number">{{ step.label }}</span>

      @if(i === 3) {

        @if (allStepsValid) {
  &nbsp;<fa-icon [icon]="'thumbs-up'" class="valid-icon-color"></fa-icon>
} @else {
  &nbsp;<fa-icon [icon]="'thumbs-down'" class="invalid-icon-color"></fa-icon>
}
      
      } @else { @if (!step.isValid) { &nbsp;<fa-icon
        [icon]="'exclamation-circle'"
        class="invalid-icon-color"
      ></fa-icon>
      } @else { &nbsp;<fa-icon
        [icon]="'check-circle'"
        class="valid-icon-color"
      ></fa-icon>
      } }
    </li>
  </ul>

  <!-- Step Content -->
  <div class="wizard-content">
    <app-account-info
      [hidden]="currentStepIndex !== 0"
      [accountInfo]="userProfile.accountInfo"
      (accountInfoChange)="onAccountInfoChange($event)"
      (stepValidity)="onStepValidityChange($event)"
    ></app-account-info>

    <app-personal-details
      [hidden]="currentStepIndex !== 1"
      [personalDetails]="userProfile.personalDetails"
      (personalDetailsChange)="onPersonalDetailsChange($event)"
      (stepValidity)="onStepValidityChange($event)"
    ></app-personal-details>

    <app-profile-picture
      [hidden]="currentStepIndex !== 2"
      (profilePictureChange)="onProfilePictureChange($event)"
      (stepValidity)="onStepValidityChange($event)"
    ></app-profile-picture>

    <app-preview
      [hidden]="currentStepIndex !== 3"
      [imageURL]="userProfile.profilePicture.urlDisplay"
      [userProfile]="userProfile"
    ></app-preview>
  </div>

  <!-- Navigation Controls -->
  <div class="wizard-navigation">
    <button
      *ngIf="!isFirstStep"
      class="btn btn-secondary"
      (click)="previousStep()"
    >
      Back
    </button>
    <button *ngIf="!isLastStep" class="btn btn-primary" (click)="nextStep()">
      Next
    </button>
    <button *ngIf="isLastStep" class="btn btn-success" (click)="onSubmit()">
      Submit
    </button>
  </div>
</div>
