<form [formGroup]="personalDetailsForm">
  <div class="row">
    <div class="col-md-4 mb-3" class="form-group">
      <label for="firstName"
        >First Name <span class="text-danger">*</span></label
      >
      <input
        type="text"
        id="firstName"
        formControlName="firstName"
        class="form-control"
        [class.is-invalid]="
          getControl('firstName')?.invalid &&
          (getControl('firstName')?.dirty || getControl('firstName')?.touched)
        "
      />
      <!-- <div *ngIf="getControl('firstName')?.invalid && (getControl('firstName')?.dirty || getControl('firstName')?.touched)" class="invalid-feedback">
        <div *ngIf="getControl('firstName')?.errors?.['required']">First Name is required123.</div>
      </div> -->
    </div>

    <div class="col-md-4 mb-3" class="form-group">
      <label for="middleName">Middle Name</label>
      <input
        type="text"
        id="middleName"
        formControlName="middleName"
        class="form-control"
      />
    </div>

    <div class="col-md-4 mb-3" class="form-group">
      <label for="lastName">Last Name <span class="text-danger">*</span></label>
      <input
        type="text"
        id="lastName"
        formControlName="lastName"
        class="form-control"
        [class.is-invalid]="
          getControl('lastName')?.invalid &&
          (getControl('lastName')?.dirty || getControl('lastName')?.touched)
        "
      />
      <!-- <div *ngIf="getControl('lastName')?.invalid && (getControl('lastName')?.dirty || getControl('lastName')?.touched)" class="invalid-feedback">
        <div *ngIf="getControl('lastName')?.errors?.['required']">Last Name is required.</div>
      </div>-->
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3" class="form-group">
      <label for="dob">Date of Birth <span class="text-danger">*</span></label>
      <input
        type="date"
        id="dob"
        formControlName="dateOfBirth"
        class="form-control"
        [class.is-invalid]="
          getControl('dateOfBirth')?.invalid &&
          (getControl('dateOfBirth')?.dirty ||
            getControl('dateOfBirth')?.touched)
        "
      />
      <!-- <div *ngIf="getControl('dateOfBirth')?.invalid && (getControl('dateOfBirth')?.dirty || getControl('dateOfBirth')?.touched)" class="invalid-feedback">
        <div *ngIf="getControl('dateOfBirth')?.errors?.['required']">Date of Birth is required.</div>
      </div> -->
    </div>

    <div class="col-md-6 mb-3" class="form-group">
      <label for="gender">Gender <span class="text-danger">*</span></label>
      <select
        id="gender"
        formControlName="gender"
        class="form-select"
        [class.is-invalid]="
          getControl('gender')?.invalid &&
          (getControl('gender')?.dirty || getControl('gender')?.touched)
        "
      >
        <option value="" disabled>Select Gender</option>
        <option *ngFor="let g of genders" [value]="g">{{ g }}</option>
      </select>
      <!-- <div *ngIf="getControl('gender')?.invalid && (getControl('gender')?.dirty || getControl('gender')?.touched)" class="invalid-feedback">
        <div *ngIf="getControl('gender')?.errors?.['required']">Gender is required.</div>
      </div> -->
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3" class="form-group">
      <label for="nationality"
        >Nationality <span class="text-danger">*</span></label
      >
      <input
        type="text"
        id="nationality"
        formControlName="nationality"
        class="form-control"
        [class.is-invalid]="
          getControl('nationality')?.invalid &&
          (getControl('nationality')?.dirty ||
            getControl('nationality')?.touched)
        "
      />
      <!-- <div *ngIf="getControl('nationality')?.invalid && (getControl('nationality')?.dirty || getControl('nationality')?.touched)" class="invalid-feedback">
        <div *ngIf="getControl('nationality')?.errors?.['required']">Nationality is required.</div>
      </div> -->
    </div>

    <div class="col-md-6 mb-3" class="form-group">
      <label for="placeOfBirthCity"
        >Place of Birth (City) <span class="text-danger">*</span></label
      >
      <input
        type="text"
        id="placeOfBirthCity"
        formControlName="placeOfBirthCity"
        class="form-control"
        [class.is-invalid]="
          getControl('placeOfBirthCity')?.invalid &&
          (getControl('placeOfBirthCity')?.dirty ||
            getControl('placeOfBirthCity')?.touched)
        "
      />
      <!-- <div *ngIf="getControl('placeOfBirthCity')?.invalid && (getControl('placeOfBirthCity')?.dirty || getControl('placeOfBirthCity')?.touched)" class="invalid-feedback">
        <div *ngIf="getControl('placeOfBirthCity')?.errors?.['required']">Place of Birth (City) is required.</div>
      </div> -->
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3" class="form-group">
      <label for="placeOfBirthState"
        >Place of Birth (State/Province)
        <span class="text-danger">*</span></label
      >
      <input
        type="text"
        id="placeOfBirthState"
        formControlName="placeOfBirthState"
        class="form-control"
        [class.is-invalid]="
          getControl('placeOfBirthState')?.invalid &&
          (getControl('placeOfBirthState')?.dirty ||
            getControl('placeOfBirthState')?.touched)
        "
      />
      <!-- <div *ngIf="getControl('placeOfBirthState')?.invalid && (getControl('placeOfBirthState')?.dirty || getControl('placeOfBirthState')?.touched)" class="invalid-feedback">
        <div *ngIf="getControl('placeOfBirthState')?.errors?.['required']">Place of Birth (State/Province) is required.</div>
      </div> -->
    </div>

    <div class="col-md-6 mb-3" class="form-group">
      <label for="placeOfBirthCountry"
        >Place of Birth (Country) <span class="text-danger">*</span></label
      >
      <input
        type="text"
        id="placeOfBirthCountry"
        formControlName="placeOfBirthCountry"
        class="form-control"
        [class.is-invalid]="
          getControl('placeOfBirthCountry')?.invalid &&
          (getControl('placeOfBirthCountry')?.dirty ||
            getControl('placeOfBirthCountry')?.touched)
        "
      />
      <!-- <div *ngIf="getControl('placeOfBirthCountry')?.invalid && (getControl('placeOfBirthCountry')?.dirty || getControl('placeOfBirthCountry')?.touched)" class="invalid-feedback">
        <div *ngIf="getControl('placeOfBirthCountry')?.errors?.['required']">Place of Birth (Country) is required.</div>
      </div> -->
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3" class="form-group">
      <label for="nationalIdType"
        >National ID Type <span class="text-danger">*</span></label
      >
      <select
        id="nationalIdType"
        formControlName="nationalIdType"
        class="form-select"
        [class.is-invalid]="
          getControl('nationalIdType')?.invalid &&
          (getControl('nationalIdType')?.dirty ||
            getControl('nationalIdType')?.touched)
        "
      >
        <option value="" disabled>Select ID Type</option>
        <option *ngFor="let type of nationalIdTypes" [value]="type">
          {{ type }}
        </option>
      </select>
      <!-- <div *ngIf="getControl('nationalIdType')?.invalid && (getControl('nationalIdType')?.dirty || getControl('nationalIdType')?.touched)" class="invalid-feedback">
        <div *ngIf="getControl('nationalIdType')?.errors?.['required']">National ID Type is required.</div>
      </div> -->
    </div>

    <div class="col-md-6 mb-3" class="form-group">
      <label for="nationalIdNumber"
        >National ID Number <span class="text-danger">*</span></label
      >
      <input
        type="text"
        id="nationalIdNumber"
        formControlName="nationalIdNumber"
        class="form-control"
        [class.is-invalid]="
          getControl('nationalIdNumber')?.invalid &&
          (getControl('nationalIdNumber')?.dirty ||
            getControl('nationalIdNumber')?.touched)
        "
      />
      <!-- <div *ngIf="getControl('nationalIdNumber')?.invalid && (getControl('nationalIdNumber')?.dirty || getControl('nationalIdNumber')?.touched)" class="invalid-feedback">
        <div *ngIf="getControl('nationalIdNumber')?.errors?.['required']">National ID Number is required.</div>
        <div *ngIf="getControl('nationalIdNumber')?.errors?.['pattern']">Invalid ID format (e.g., must be 12 digits for Aadhaar).</div>
      </div> -->
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3" class="form-group">
      <label for="religion">Religion</label>
      <input
        type="text"
        id="religion"
        formControlName="religion"
        class="form-control"
      />
    </div>

    <div class="col-md-6 mb-3" class="form-group">
      <label for="casteCategory">Caste Category</label>
      <select
        id="casteCategory"
        formControlName="casteCategory"
        class="form-select"
      >
        <option value="">Select Category</option>
        <option *ngFor="let cat of casteCategories" [value]="cat">
          {{ cat }}
        </option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3" class="form-group">
      <label for="motherTongue">Mother Tongue</label>
      <input
        type="text"
        id="motherTongue"
        formControlName="motherTongue"
        class="form-control"
      />
    </div>

    <div class="col-md-6 mb-3" class="form-group">
      <label for="bloodGroup">Blood Group</label>
      <select id="bloodGroup" formControlName="bloodGroup" class="form-select">
        <option value="">Select Blood Group</option>
        <option *ngFor="let bg of bloodGroups" [value]="bg">{{ bg }}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 mb-3" class="form-check">
         <label class="form-check-label" for="hasDisability">
          Has Disability?
        </label>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          id="hasDisability"
          formControlName="hasDisability"
        />
       
      </div>
    </div>

    <div class="col-md-6 mb-3" *ngIf="getControl('hasDisability')?.value" class="form-group">
      <label for="disabilityDetails"
        >Disability Details <span class="text-danger">*</span></label
      >
      <textarea
        id="disabilityDetails"
        formControlName="disabilityDetails"
        class="form-control"
        rows="2"
        [class.is-invalid]="
          getControl('disabilityDetails')?.invalid &&
          (getControl('disabilityDetails')?.dirty ||
            getControl('disabilityDetails')?.touched)
        "
      ></textarea>
      <div
        *ngIf="
          getControl('disabilityDetails')?.invalid &&
          (getControl('disabilityDetails')?.dirty ||
            getControl('disabilityDetails')?.touched)
        "
        class="invalid-feedback"
      >
        <!-- <div *ngIf="getControl('disabilityDetails')?.errors?.['required']">
          Disability details are required.
        </div> -->
      </div>
    </div>
  </div>

  <!-- <button type="submit" class="btn btn-primary mt-3" (click)="onSubmit()" [disabled]="personalDetailsForm.invalid">
    Submit
  </button> -->
</form>
